@model List<BookCatalogue.WebUI.Models.Author>
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Manage Authors</h1>

    <ul class="nav nav-pills nav-fill mt-4">
        <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">List</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">New</a>
        </li>
    </ul>
</div>

<h2 class="mt-4">Authors:</h2>
<div>
    @foreach (var author in Model)
    {
        <p><strong>Author</strong>: @author.FirstName @author.LastName</p>
    }
</div>

